# Data Science Tools and Ecosystem

|Data Science Tools |
|------------------ |
|TensorFlow         |
|Python             |
|Apache Hadoop      |

In this notebook, Data ScienceTools and Ecosystem are summarized

**Objectives**:
* SQL
* JavaScript
* Python

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists included:
1. Pandas 
2. NumbPy
3. Scikit-Learn
4. TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5

17

This is simple arithmetic expression to multiply then add integers

In [10]:
# convert minutes to hours 
minutes = 200
hours = minutes/60

# this will convert 200 minutes to hours by diving by 60
# print the result
print(f"{200}minutes is equal to {hours}")

200minutes is equal to 3.3333333333333335

In [6]:
# convert minutes to hours 
minutes = 200 minutes
hours = minutes/60

SyntaxError: invalid syntax (771675122.py, line 2)

## Author
Diow